@page
@model ServiceHost.Pages.WishlistModel
@{
    ViewData["Title"] = "لیست علاقه مندی ها";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">لیست علاقه مندی شما</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">صفحه اصلی</a>
                            </li>
                            <li class="active">لیست علاقه مندی ها</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="cart-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">عکس</th>
                                        <th class="pro-title">محصول</th>
                                        <th class="pro-addtocart">خرید</th>
                                        <th class="pro-remove">حذف</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.WishlistItems)
                                    {
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a asp-page="/Product" asp-route-id="@item.ProductSlug">
                                                    <img src="~/ProductPictures/@item.ProductPicture" class="img-fluid" alt="@item.ProductName">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a asp-page="/Product" asp-route-id="@item.ProductSlug">@item.ProductName</a>
                                            </td>
                                            <td class="pro-addtocart">
                                                <a asp-page="/Cart">@item.ProductName</a>
                                            </td>
                                            <td class="pro-remove">
                                                <a asp-page-handler="RemoveItem" asp-route-id="@item.Id">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>